body
 {
 font: "Trebuchet MS", Verdana, sans-serif;

 background-color: #037db6;
 background-image: url("AUTLOGO.png");
 background-repeat: no-repeat;
 background-position: bottom left;
 background-attachment: fixed;
 
 }

#main
 {
 padding: 2px;
 background-color:#f0f0f0;
 border-radius: 0 0 4px 4px;
 font-size: 120%;
 }
h2
 {
 font: Georgia, serif;
 font-size: 3em;
 border-bottom: 3px solid;
 text-align:center;
 }

#main1
{
 padding: 2px;
 background-color:lightgrey;
 font-size: 120%;
 
 }